@font-face {
    font-family: "Allura", sans-serif;
    src: url('./fonts/Allura-Regular.ttf');
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url('./fonts/Roboto-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0 none;
    font-family: "Roboto", sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

a,
a:link,
a:visited,
a:active {
    color: #000;
}

h1 {
    position: absolute;
    left: -9999999px;
}

body::-webkit-scrollbar {
    width: 0;
}

body,
#page {
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
}

#page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}

header,
nav,
section,
article,
footer {
    font-size: 1.1em;
}

h2 {
    line-height: 2em;
}

a, p {
    font-size: 0.8em;
}

p {
    line-height: 1.25em;
}

@media(max-width: 1100px) {
    header,
    section,
    article,
    footer {
        font-size: 1em;
    }
}